extends header

block content
  div.container(style='margin-top: 2%')
    form.border.border-danger
      div.form-group
        div.container-fluid
          br
          div.row
            label.col-2.d-none.d-md-flex(for='username') Username
            input.col-9.mx-auto(
              type="username"
              class="form-control" 
              id="usernameInput" 
              placeholder="Enter username")
          br
          div.row
            label.col-2.d-none.d-md-flex(for='Password') Password
            input.col-9.mx-auto(
              type="password"
              class="form-control" 
              id="passwordInput" 
              placeholder="Enter password")
          br
          div.row
            button.mx-auto.btn.btn-primary(
              type="submit"
              style="border-radius: 0; float: right; margin-bottom: inherit;") Submit
