extends layout

block content
  script(src='./scripts/post.js')
  div.container-fluid(style="padding-bottom: 2%; padding-top: 2%;")
    form.border.border-danger#blogpostform
      div.form-group(style="padding: 2%; margin: 0px;")
        div.container-fluid
          div.row
            input.col-5(type="subject"
                  class="form-control" 
                  id="subjectInput"
                  aria-describedby="subjectHelp" 
                  placeholder="Enter subject")
            button.offset-5.col-2.btn.btn-primary#postsubmit(
                  type="submit"
                  style="padding: 2px; border-radius: 0; float: right; margin-bottom: inherit;"
                  onclick="submitPost()") Submit
          br
          div.row
            textarea.col-12(class="form-control" 
                  id="postInput"
                  rows="3"
                  style="resize: none;")
