script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"
      integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
      crossorigin="anonymous")
script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous")
script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
      integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
      crossorigin="anonymous")

      nav.navbar.navbar-light.navbar-expand.bg-faded.d-sm-flex.d-md-none#navbar-small
        a.navbar-brand(href='/') Kevin Lewis
        div.nav-item.dropdown(style="margin-left: auto;")
          button.btn.btn-secondary.dropdown-toggle(
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false") Navigation
          div.dropdown-menu(aria-labelledby="dropdownMenuButton")  
            a.dropdown-item(href='') Experience
            a.dropdown-item(href='') Education
            a.dropdown-item(href='') Crypto
